ARDENT_ORACLE_HOST=
ARDENT_ORACLE_PORT=1521
ARDENT_ORACLE_SERVICE=orcl
ARDENT_ORACLE_USER=
ARDENT_ORACLE_PASSWORD=

ARDENT_OLTP_ORACLE_HOST=
ARDENT_OLTP_ORACLE_PORT=1521
ARDENT_OLTP_ORACLE_SERVICE=orcl
ARDENT_OLTP_ORACLE_USER=
ARDENT_OLTP_ORACLE_PASSWORD=

ARDENT_ALERT_ENABLE_EMAIL=false
ARDENT_ALERT_SMTP_SERVER=smtp.gmail.com
ARDENT_ALERT_SMTP_PORT=587
ARDENT_ALERT_SENDER_EMAIL=
ARDENT_ALERT_SENDER_PASSWORD=
ARDENT_ALERT_RECIPIENT_EMAILS=
